@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.main-child,
.main-item {
  position: absolute;
  border-radius: var(--br-11xl);
}
.main-child {
  top: 0;
  left: 0;
  background-color: var(--color-lightblue);
  width: 1652px;
  height: 834px;
}
.main-item {
  top: 4px;
  left: 40px;
  background: linear-gradient(89.99deg, #667eea, #5cb8e1 50%);
  width: 1550px;
  height: 827px;
}
.doorbell-icon {
  position: absolute;
  top: 30px;
  left: 1306px;
  width: 56px;
  height: 26px;
  object-fit: cover;
}
.adam {
  position: absolute;
  top: 0;
  left: 857px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 91px;
  height: 15px;
}
.live-child,
.live-inner,
.live-item {
  position: absolute;
  left: 0;
  width: 315px;
}
.live-child {
  top: 0;
  border-radius: var(--br-mini);
  height: 326px;
  object-fit: cover;
  opacity: 0;
}
.live-child.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.live-inner,
.live-item {
  top: 328px;
  background-color: var(--color-snow);
  height: 328px;
}
.live-inner {
  top: 304px;
  left: 15px;
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue);
  width: 290px;
  height: 43px;
}
.live-chat,
.people {
  position: absolute;
  top: 311px;
  left: 25px;
  display: inline-block;
  width: 96px;
  height: 10px;
}
.people {
  top: 326px;
  left: 38px;
  width: 83px;
  height: 13px;
}
.account-icon,
.multiply-icon,
.settings-icon {
  position: absolute;
  top: 325px;
  left: 18px;
  width: 23px;
  height: 15px;
  object-fit: cover;
}
.multiply-icon,
.settings-icon {
  top: 314px;
  left: 272px;
  width: 29px;
  height: 23px;
}
.settings-icon {
  top: 316px;
  left: 241px;
  width: 46px;
  height: 20px;
}
.rectangle-div {
  position: absolute;
  top: 656px;
  left: 0;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  background-color: var(--color-aqua-300);
  width: 315px;
  height: 40px;
}
.add-your-comment {
  position: absolute;
  top: 671px;
  left: 42px;
  color: var(--color-steelblue);
  display: inline-block;
  width: 164px;
  height: 15px;
}
.sent-icon,
.slightly-smiling-face {
  position: absolute;
  top: 664px;
  left: 4px;
  width: 41px;
  height: 26px;
  object-fit: cover;
}
.sent-icon {
  top: 662px;
  left: 267px;
  width: 48px;
  height: 29px;
}
.live {
  position: absolute;
  top: 62px;
  left: 790px;
  width: 315px;
  height: 696px;
  color: var(--color-deepskyblue);
}
.person-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 17px;
  height: 18px;
}
.sarah-houston,
.such-great-information {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 105px;
  height: 14px;
}
.such-great-information {
  top: 14px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-200);
  width: 182px;
  height: 15px;
}
.person,
.person1,
.person2,
.wym-child {
  position: absolute;
  top: 666px;
  left: 805px;
  width: 205px;
  height: 29px;
}
.person1,
.person2,
.wym-child {
  top: 578px;
}
.person2,
.wym-child {
  top: 622px;
}
.wym-child {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: #f4f4f4;
  width: 693px;
  height: 112px;
}
.hyf-input,
.wym-item {
  position: absolute;
  top: 7px;
}
.wym-item {
  left: 17px;
  border-radius: 50%;
  width: 39px;
  height: 40px;
  object-fit: cover;
}
.hyf-input {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: #f0f2f5;
  left: 73px;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  width: 604px;
  height: 35px;
}
.activity-button-child {
  position: absolute;
  top: 0;
  left: 8px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkcyan);
  width: 153px;
  height: 39px;
}
.smiling-icon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 58px;
  height: 33px;
  object-fit: cover;
}
.activity {
  position: absolute;
  top: 9px;
  left: 54px;
  font-size: var(--font-size-mid);
  font-family: var(--font-goldman);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 107px;
  height: 25px;
}
.activity-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 65px;
  left: 484px;
  width: 161px;
  height: 39px;
}
.activity-button:hover {
  animation: 0.3s linear 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.photos-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkcyan);
  width: 153px;
  height: 39px;
}
.camera-icon {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 36px;
  height: 30px;
  object-fit: cover;
}
.photos {
  position: absolute;
  top: 9px;
  left: 49px;
  font-size: var(--font-size-mid);
  font-family: var(--font-goldman);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 97px;
  height: 29px;
}
.photos-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 65px;
  left: 383px;
  width: 153px;
  height: 39px;
}
.live-vid-btn:hover,
.photos-button:hover {
  animation: 0.3s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.video-record-icon {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 33px;
  height: 36px;
  object-fit: cover;
}
.live-video {
  position: absolute;
  top: 10px;
  left: 41px;
  font-size: var(--font-size-mid);
  font-family: var(--font-goldman);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 105px;
  height: 30px;
}
.live-vid-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 64px;
  left: 152px;
  width: 153px;
  height: 40px;
}
.adam-parent,
.wym {
  position: absolute;
  top: 49px;
  left: 18px;
  width: 693px;
  height: 112px;
}
.adam-parent {
  top: 36px;
  left: 416px;
  width: 1139px;
  height: 754px;
  font-family: var(--font-goldman);
}
.content-share-child {
  position: absolute;
  top: 0;
  left: 4px;
  border-radius: var(--br-xl);
  background-color: #e3fefa;
  width: 682px;
  height: 612px;
}
.post-child {
  position: absolute;
  top: 165px;
  left: 325px;
  border-radius: 50%;
  width: 26px;
  height: 27px;
  object-fit: cover;
}
.post-inner,
.post-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-snow);
  width: 613px;
  height: 278px;
}
.post-inner {
  top: 31px;
  left: 325px;
  border-radius: var(--br-xs);
  background-color: var(--color-aqua-100);
  width: 47px;
  height: 63px;
}
.div,
.may {
  position: absolute;
  top: 38px;
  left: 335px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslateblue-200);
  display: inline-block;
  width: 29px;
  height: 11px;
}
.div {
  top: 53px;
  left: 331px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-goldman);
  width: 43px;
  height: 20px;
}
.hyperlink-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 285px;
  height: 262px;
  object-fit: cover;
}
.supervised-learning-algorithms {
  position: absolute;
  left: 311px;
  display: flex;
  align-items: center;
}
.thu-1000pm {
  position: absolute;
  left: 355px;
  display: flex;
  align-items: center;
}
.supervised-learning-algorithms {
  top: 27px;
  font-size: var(--font-size-sm);
  width: 220px;
}
.thu-1000pm {
  top: 56px;
  color: var(--color-gray-100);
  width: 213px;
  height: 17px;
}
.i-will-be {
  position: absolute;
  top: 93px;
  left: 302px;
  color: var(--color-dimgray);
  display: inline-block;
  width: 270px;
  height: 35px;
}
.hyperlink {
  position: absolute;
  top: 8px;
  left: 23px;
  width: 575px;
  height: 262px;
  cursor: pointer;
}
.john-doe {
  position: absolute;
  top: 169px;
  left: 359px;
  display: inline-block;
  width: 102px;
  height: 14px;
}
.post-child1 {
  position: absolute;
  top: 215px;
  left: 323px;
  border-radius: var(--br-2xs);
  background-color: var(--color-darkslateblue-100);
  width: 91px;
  height: 22px;
}
.ellipse-div {
  position: absolute;
  top: 217px;
  left: 325px;
  border-radius: 50%;
  background-color: var(--color-turquoise);
  width: 20px;
  height: 18px;
}
.div1,
.participants {
  position: absolute;
  top: 217px;
  display: inline-block;
}
.participants {
  left: 345px;
  color: var(--color-whitesmoke-200);
  white-space: pre-wrap;
  width: 64px;
  height: 18px;
}
.div1 {
  left: 330px;
  color: var(--color-darkslateblue-100);
  width: 18px;
  height: 12px;
}
.share-icon {
  top: 0;
  left: 0;
  width: 27px;
  height: 22px;
  object-fit: cover;
}
.div2,
.share,
.share-icon {
  position: absolute;
}
.div2 {
  top: 1px;
  left: 27px;
  display: inline-block;
  width: 22px;
  height: 11px;
}
.share {
  top: 217px;
  left: 558px;
  width: 49px;
  height: 22px;
}
.fire-icon {
  top: 0;
  left: 0;
  width: 19px;
  height: 25px;
  object-fit: cover;
}
.div3,
.fire-icon,
.like {
  position: absolute;
}
.div3 {
  top: 6px;
  left: 21px;
  display: inline-block;
  width: 22px;
  height: 14px;
}
.like {
  top: 212px;
  left: 479px;
  width: 43px;
  height: 25px;
}
.icon-favorite-dislike-1-rewar {
  position: absolute;
  height: 94.44%;
  width: 42.86%;
  top: 5.56%;
  right: 57.14%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dislike,
.div4 {
  position: absolute;
}
.div4 {
  top: 0;
  left: 24px;
  display: inline-block;
  width: 18px;
  height: 16px;
}
.dislike {
  height: 6.47%;
  width: 6.85%;
  top: 78.78%;
  right: 9.62%;
  bottom: 14.75%;
  left: 547px;
}
.ellipse-icon {
  position: absolute;
  top: 165px;
  left: 327px;
  border-radius: 50%;
  width: 26px;
  height: 27px;
  object-fit: cover;
}
.comment-btn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-paleturquoise-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 136px;
  height: 20px;
}
.comments {
  position: absolute;
  top: 2px;
  left: 9px;
  font-size: var(--font-size-xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 18px;
}
.comment-btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 245px;
  left: 459px;
  width: 136px;
  height: 20px;
}
.comment-btn,
.comment-btn:hover,
.post:hover {
  cursor: pointer;
}
.post {
  position: relative;
  top: 15px;
  left: 36px;
  width: 613px;
  height: 278px;
  cursor: pointer;
  margin-bottom: 10px;
}
.post:hover {
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.hyperlink2-child,
.photo-post-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.photo-post-child {
  background-color: var(--color-snow);
  width: 613px;
  height: 183px;
}
.hyperlink2-child {
  width: 285px;
  height: 168px;
  object-fit: cover;
}
.hyperlink2-item {
  position: absolute;
  top: 0;
  left: 302px;
  border-radius: var(--br-xs);
  background-color: var(--color-aqua-100);
  width: 47px;
  height: 63px;
}
.may1 {
  top: 7px;
  left: 312px;
  width: 29px;
  height: 11px;
}
.div5,
.i-will-be1,
.may1 {
  position: absolute;
  display: inline-block;
}
.div5 {
  top: 22px;
  left: 340px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-goldman);
  width: 43px;
  height: 20px;
}
.i-will-be1 {
  top: 9px;
  left: 357px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray);
  width: 211px;
  height: 127px;
}
.hyperlink2 {
  position: absolute;
  top: 8px;
  left: 23px;
  width: 568px;
  height: 168px;
  cursor: pointer;
  font-size: var(--font-size-smi);
  color: var(--color-darkslateblue-200);
}
.john-doe1 {
  position: absolute;
  top: 155px;
  left: 364px;
  display: inline-block;
  width: 102px;
  height: 14px;
}
.like1,
.share1 {
  position: absolute;
  top: 148px;
  left: 479px;
  width: 49px;
  height: 22px;
}
.like1 {
  top: 144px;
  left: 492px;
  width: 43px;
  height: 25px;
}
.icon-favorite-dislike-1-rewar1 {
  position: absolute;
  height: 91.34%;
  width: 50%;
  top: 8.66%;
  right: 50%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dislike1,
.div8 {
  position: absolute;
}
.div8 {
  top: 0;
  left: 30px;
  display: inline-block;
  width: 18px;
  height: 16px;
}
.dislike1 {
  height: 12.69%;
  width: 7.83%;
  top: 81.87%;
  right: 8.65%;
  bottom: 5.44%;
  left: 554px;
}
.photo-post-item {
  position: absolute;
  top: 149px;
  left: 330px;
  border-radius: 50%;
  width: 26px;
  height: 27px;
  object-fit: cover;
}
.comment-btn1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 124px;
  left: 466px;
  width: 136px;
  height: 20px;
}
.comment-btn1,
.comment-btn1:hover {
  cursor: pointer;
}
.date-child,
.photo-post {
  position: relative;
  top: 15px;
  left: 36px;
  width: 613px;
  height: 182px;
  cursor: pointer;
  margin-bottom: 10px;
}
.photo-post:hover {
  cursor: pointer;
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.date-child {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-aqua-100);
  width: 47px;
  height: 63px;
}
.div12,
.may2 {
  position: absolute;
  top: 7px;
  left: 10px;
  display: inline-block;
  width: 29px;
  height: 11px;
}
.div12 {
  top: 22px;
  left: 6px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-goldman);
  width: 43px;
  height: 20px;
}
.date,
.i-will-be2,
.john-doe2 {
  position: absolute;
  top: 45px;
  left: 539px;
  width: 49px;
  height: 63px;
}
.i-will-be2,
.john-doe2 {
  left: 8px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray);
  display: inline-block;
  width: 527px;
  height: 95px;
}
.john-doe2 {
  top: 6px;
  left: 54px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  width: 220px;
  height: 29px;
}
.hyperlink3-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 42px;
  height: 40px;
  object-fit: cover;
}
.hyperlink3 {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 588px;
  height: 140px;
  cursor: pointer;
  font-size: var(--font-size-smi);
  color: var(--color-darkslateblue-200);
}
.comment-btn2 {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 149px;
  left: 292px;
  width: 136px;
  height: 20px;
}
.comment-btn2,
.comment-btn2:hover {
  cursor: pointer;
}
.content-share {
 position: absolute;
  top: 319px;
  left: 428px;
  width: 686px;
  height: 513px;
  overflow: auto;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  border-radius: var(--br-xl);
  background-color: #e3fefa;
}
.wym-post {
  position: relative;
  top: 15px;
  left: 36px;
  width: 613px;
  height: 182px;
  margin-bottom: 10px;
}
.category-btn:hover,
.chat-btn:hover,
.clock-btn:hover,
.friends-btn:hover,
.home-btn:hover,
.notes-btn:hover,
.wym-post:hover {
  cursor: pointer;
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.content-share {
  
  
  position: absolute;
  top: 214px;
  left: 434px;
  width: 693px;
  height: 615px;
  overflow: auto;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  border-radius: var(--br-xl);
}
.home-btn-child,
.nav-bar-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  background-color: var(--color-aliceblue);
width: 362px;
  height: 62px;
}
.home-btn-child {
  left: 2px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-300);
  width: 38px;
  height: 35px;
}
.exterior-icon,
.home-btn {
  position: absolute;
  width: 43px;
}
.exterior-icon {
  top: 5px;
  left: 0;
  height: 25px;
  object-fit: cover;
}
.home-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 14px;
  left: 28px;
  height: 35px;
}
.friends-btn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lavender);
  width: 38px;
  height: 35px;
}
.people-icon {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 30px;
  height: 28px;
  object-fit: cover;
}
.friends-btn,
.notes-btn-child {
  position: absolute;
  width: 38px;
  height: 35px;
}
.friends-btn {
  top: 14px;
  left: 94px;
  cursor: pointer;
}
.notes-btn-child {
  top: 0;
  left: 3px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lavender);
}
.notes-btn,
.notes-icon {
  position: absolute;
  width: 43px;
}
.notes-icon {
  top: 3px;
  left: 0;
  height: 28px;
  object-fit: cover;
}
.notes-btn {
  top: 14px;
left: 286px;
  height: 35px;
  cursor: pointer;
}
.category-icon {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 34px;
  height: 27px;
  object-fit: cover;
}
.category-btn,
.chat-btn-child {
  position: absolute;
  top: 14px;
  left: 287px;
  width: 38px;
  height: 35px;
}
.chat-btn-child {
  top: 0;
  left: 2px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lavender);
}
.chat-bubble-icon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 28px;
  object-fit: cover;
}
.chat-btn,
.clock-icon {
  position: absolute;
  top: 14px;
  left: 157px;
  width: 42px;
  height: 35px;
}
.clock-icon {
  top: 3px;
  left: 1px;
  width: 39px;
  height: 28px;
  object-fit: cover;
}
.clock-btn {
  position: absolute;
  top: 14px;
  left: 224px;
  width: 40px;
  height: 35px;
}
.nav-bar {
  position: fixed;
  top: 4px;
  left: 637px;
  width: 419px;
  height: 62px;
  min-width: 1px;
}
.main-inner {
  position: absolute;
  top: 28px;
  left: 1369px;
  border-radius: 50%;
  width: 35px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}
.frame-child,
.logo-icon {
  position: absolute;
  border-radius: var(--br-7xl);
}
.frame-child {
  top: 2px;
  left: 0;
  background-color: var(--color-paleturquoise);
  width: 285px;
  height: 825px;
}
.logo-icon {
  top: 0;
  left: 1px;
  width: 61px;
  height: 64.6px;
  object-fit: cover;
}
.logo-icon:hover {
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.frame-item,
.search-icon {
  position: absolute;
  left: 74px;
}
.frame-item {
  top: 10.9px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-300);
  width: 210px;
  height: 42.7px;
}
.search-icon {
  top: 15.9px;
  width: 33px;
  height: 31.8px;
  object-fit: cover;
}
.currently-live,
.search {
  position: absolute;
  display: inline-block;
}
.search {
  top: 22.9px;
  left: 112px;
  font-family: var(--font-inter);
  width: 181px;
  height: 19.9px;
}
.currently-live {
  top: 84.5px;
  left: 23px;
  font-weight: 500;
  width: 123px;
  height: 17.9px;
}
.frame-child1,
.frame-inner {
  position: absolute;
  top: 130.2px;
  left: 25px;
  border-radius: 50%;
  width: 31px;
  height: 28.8px;
  object-fit: cover;
}
.frame-child1 {
  top: 178.9px;
}
.channel-1 {
  white-space: pre-wrap;
}
.live1 {
  color: var(--color-gray-300);
}
.channel-1-live-container,
.channel-2-live-container {
  position: absolute;
  top: 135.2px;
  left: 68px;
  font-weight: 500;
  display: inline-block;
  width: 214px;
  height: 15.9px;
}
.channel-2-live-container {
  top: 185.8px;
}
.rectangle-parent {
  position: absolute;
  top: 4px;
  left: 40px;
  width: 285px;
  height: 100%;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  font-size: var(--font-size-sm);
  font-family: var(--font-ibm-plex-sans-hebrew);
}
.rectangle-parent.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
.logout-button-child {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: #5bbfe1;
  width: 145px;
  height: 34px;
}
.logout {
  position: absolute;
  top: 0;
  left: 29px;
  display: inline-block;
  width: 87px;
  height: 34px;
}
.logout-button {
  position: absolute;
  top: 23px;
  left: 1430px;
  width: 145px;
  height: 35px;
  font-size: var(--font-size-xl);
}
.logout-button:hover {
  cursor: pointer;
  animation: 0.3s ease-in 0s 1 normal forwards shadow-inset-center;
  opacity: 1;
}
.main {
  width: 100%;
  height: 835px;
  position: relative;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-kadwa);
}
.woym-child,
.woym-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightblue);
  width: 623px;
  height: 623px;
}
.woym-item {
  top: 18px;
  left: 17px;
  background-color: var(--color-snow);
  width: 584px;
  height: 575px;
}
.logo-icon8 {
  position: absolute;
  top: 45px;
  left: 280px;
  border-radius: var(--br-13xl-5);
  width: 69px;
  height: 65px;
  object-fit: cover;
  cursor: pointer;
}
.logo-icon8:hover {
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.title3,
.username1 {
  position: absolute;
  width: 160px;
  height: 29px;
}
.username1 {
  top: 0;
  left: 0;
  display: inline-block;
}
.username1:hover {
  cursor: default;
}
.title3 {
  top: 146px;
  left: 312px;
}
.submit-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightblue);
  width: 107px;
  height: 31px;
}
.post6,
.submit-inner,
.submit4 {
  position: absolute;
}
.post6 {
  top: 1px;
  left: 32px;
  font-size: var(--font-size-base);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 44px;
  height: 29px;
}
.submit4 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 469px;
  left: 265px;
  width: 107px;
  height: 31px;
}
.submit4,
.submit4:hover {
  cursor: pointer;
}
.rectangle-textarea {
  border: 0;
  background-color: var(--color-whitesmoke-100);
  outline: 0;
  position: absolute;
  top: 29px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 427px;
  height: 92px;
}
.description5 {
  position: absolute;
  top: 251px;
  left: 105px;
  width: 427px;
  height: 121px;
}
.profile-pic-icon1 {
  position: absolute;
  top: 131px;
  left: 237px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.woym {
  width: 622px;
  position: relative;
  height: 623px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-kadwa);
}
.vid-popup-child,
.vid-popup-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightblue);
  width: 623px;
  height: 623px;
}
.vid-popup-item {
  top: 18px;
  left: 17px;
  background-color: var(--color-snow);
  width: 584px;
  height: 575px;
}
.logo-icon9 {
  position: absolute;
  top: 45px;
  left: 280px;
  border-radius: var(--br-13xl-5);
  width: 69px;
  height: 65px;
  object-fit: cover;
  cursor: pointer;
}
.logo-icon9:hover,
.submit4:hover {
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.submit-child1,
.title4,
.username2 {
  position: absolute;
  width: 160px;
  height: 29px;
}
.username2 {
  top: 0;
  left: 0;
  display: inline-block;
}
.username2:hover {
  cursor: default;
}
.submit-child1,
.title4 {
  top: 146px;
  left: 312px;
}
.submit-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightblue);
  width: 107px;
  height: 31px;
}
.post7 {
  position: absolute;
  top: 1px;
  left: 32px;
  font-size: var(--font-size-base);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 44px;
  height: 29px;
}
.submit5,
.upload-inner {
  position: absolute;
  height: 31px;
}
.submit5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 469px;
  left: 265px;
  width: 107px;
}
.submit5:hover {
  cursor: pointer;
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.upload-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  width: 144px;
}
.label2,
.upload2:hover {
  cursor: pointer;
}
.input2 {
  display: none;
}
.upload-video,
.upload2 {
  position: absolute;
  top: 5px;
  left: 132px;
  width: 144px;
  height: 31px;
}
.upload-video {
  top: 0;
  left: -41px;
  display: inline-block;
  width: 146px;
  height: 29px;
}
.upload-container {
  position: absolute;
  top: 378px;
  left: 193px;
  width: 266px;
  height: 36px;
}
.description-child1 {
  border: 0;
  background-color: var(--color-whitesmoke-100);
  outline: 0;
  position: absolute;
  top: 29px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 427px;
  height: 92px;
}
.description7 {
  position: absolute;
  top: 222px;
  left: 100px;
  width: 427px;
  height: 121px;
}
.profile-pic-icon2 {
  position: absolute;
  top: 131px;
  left: 237px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.vid-popup {
  width: 622px;
  position: relative;
  height: 623px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-kadwa);
}
.photo-popup-child,
.photo-popup-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightblue);
  width: 623px;
  height: 623px;
}
.photo-popup-item {
  top: 18px;
  left: 17px;
  background-color: var(--color-snow);
  width: 584px;
  height: 575px;
}
.logo-icon10 {
  position: absolute;
  top: 45px;
  left: 280px;
  border-radius: var(--br-13xl-5);
  width: 69px;
  height: 65px;
  object-fit: cover;
  cursor: pointer;
}
.logo-icon10:hover {
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.submit-child2,
.title5,
.username3 {
  position: absolute;
  width: 160px;
  height: 29px;
}
.username3 {
  top: 0;
  left: 0;
  display: inline-block;
}
.username3:hover {
  cursor: default;
}
.submit-child2,
.title5 {
  top: 146px;
  left: 312px;
}
.submit-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightblue);
  width: 107px;
  height: 31px;
}
.post8 {
  position: absolute;
  top: 1px;
  left: 32px;
  font-size: var(--font-size-base);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 44px;
  height: 29px;
}
.submit6,
.upload-child1 {
  position: absolute;
  height: 31px;
}
.submit6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 469px;
  left: 265px;
  width: 107px;
}
.submit6:hover {
  cursor: pointer;
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.upload-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  width: 144px;
}
.label3,
.upload3:hover {
  cursor: pointer;
}
.input3 {
  display: none;
}
.upload-picture,
.upload3 {
  position: absolute;
  top: 5px;
  left: 132px;
  width: 144px;
  height: 31px;
}
.upload-picture {
  top: 0;
  left: -41px;
  display: inline-block;
  width: 146px;
  height: 29px;
}
.upload-parent1 {
  position: absolute;
  top: 378px;
  left: 193px;
  width: 266px;
  height: 36px;
}
.description-child2 {
  border: 0;
  background-color: var(--color-whitesmoke-100);
  outline: 0;
  position: absolute;
  top: 29px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 427px;
  height: 92px;
}
.description9 {
  position: absolute;
  top: 222px;
  left: 100px;
  width: 427px;
  height: 121px;
}
.profile-pic-icon3 {
  position: absolute;
  top: 131px;
  left: 237px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.photo-popup {
  width: 622px;
  position: relative;
  height: 623px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-kadwa);
}
.comment-popup-child,
.comment-popup-item {
  position: absolute;
  border-radius: var(--br-xl);
}
.comment-popup-child {
  top: 0;
  left: 0;
  background-color: var(--color-snow);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 613px;
  height: 743px;
}
.comment-popup-item {
  top: 61px;
  left: 57px;
  width: 498px;
  height: 262px;
  object-fit: cover;
}
.supervised-learning-algorithms6 {
  position: absolute;
  top: 25px;
  left: 197px;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  width: 220px;
}
.john-doe11 {
  position: absolute;
  top: 30px;
  left: 63px;
  display: inline-block;
  width: 102px;
  height: 14px;
}
.comment-popup-inner {
  position: absolute;
  top: 26px;
  left: 31px;
  border-radius: 50%;
  width: 26px;
  height: 27px;
  object-fit: cover;
}
.i-will-be4 {
  position: absolute;
  top: 340px;
  left: 13px;
  color: var(--color-dimgray);
  display: inline-block;
  width: 330px;
  height: 68px;
}
.share-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 22px;
  object-fit: cover;
}
.div32 {
  top: 1px;
  left: 27px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 22px;
  height: 11px;
}
.div32,
.div33,
.share5 {
  position: absolute;
}
.share5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 357px;
  left: 557px;
  width: 49px;
  height: 22px;
}
.div33 {
  top: 3px;
  left: 26px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 18px;
  height: 16px;
}
.icon-thumbs-down {
  position: absolute;
  height: 100%;
  width: 52.73%;
  top: 0;
  right: 47.27%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dislike4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 355px;
  left: 513px;
  width: 44px;
  height: 23.2px;
}
.fire-icon7 {
  top: 0;
  left: 0;
  width: 19px;
  height: 25px;
  object-fit: cover;
}
.div34,
.fire-icon7,
.like4 {
  position: absolute;
}
.div34 {
  top: 6px;
  left: 21px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 22px;
  height: 14px;
}
.like4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 352px;
  left: 461px;
  width: 43px;
  height: 25px;
}
.comment-popup-child1 {
  position: absolute;
  top: 352px;
  left: 359px;
  border-radius: var(--br-2xs);
  background-color: var(--color-darkslateblue-100);
  width: 91px;
  height: 22px;
}
.comment-popup-child2 {
  position: absolute;
  top: 354px;
  left: 361px;
  border-radius: 50%;
  background-color: var(--color-turquoise);
  width: 20px;
  height: 18px;
}
.div35,
.participants4 {
  position: absolute;
  top: 354px;
  display: inline-block;
}
.participants4 {
  left: 381px;
  color: var(--color-whitesmoke-200);
  white-space: pre-wrap;
  width: 64px;
  height: 18px;
}
.div35 {
  left: 366px;
  color: var(--color-darkslateblue-100);
  width: 18px;
  height: 12px;
}
.comment-section-child {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background: linear-gradient(180deg, #d6ebfa, #ebf4fa);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 613px;
  height: 333px;
}
.comments3 {
  position: absolute;
  top: 0;
  left: 235px;
  display: inline-block;
  width: 144px;
  height: 50px;
}
.comment-read-section,
.comment1-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 600px;
  height: 228px;
}
.comment1-child {
  width: 588px;
  height: 68px;
}
.john-doe12 {
  position: absolute;
  top: 6px;
  left: 38px;
  display: flex;
  align-items: center;
  width: 169px;
  height: 14px;
}
.comment1-item {
  position: absolute;
  top: 3px;
  left: 6px;
  border-radius: 50%;
  width: 26px;
  height: 27px;
  object-fit: cover;
}
.div36 {
  position: absolute;
  top: 5px;
  left: 511px;
  display: flex;
  align-items: center;
  width: 77px;
  height: 15px;
}
.comments-description {
  position: absolute;
  top: 23px;
  left: 38px;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 519px;
}
.comment-read,
.comment1 {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 588px;
  height: 68px;
}
.comment-read {
  top: 30px;
  left: 6px;
  width: 600px;
  height: 228px;
  text-align: left;
  font-size: var(--font-size-3xs);
}
.comment-write,
.send {
  position: absolute;
  border-radius: var(--br-3xs);
}
.comment-write {
  border: 1px solid var(--color-black);
  outline: 0;
  background-color: var(--color-white);
  top: 263px;
  left: 11px;
  box-sizing: border-box;
  width: 533px;
  height: 68px;
}
.send {
  top: 0;
  left: 0;
  background-color: var(--color-cornflowerblue);
  width: 39px;
  height: 39px;
}
.icon-send {
  position: absolute;
  height: 82.05%;
  width: 82.05%;
  top: 7.69%;
  right: 7.69%;
  bottom: 10.26%;
  left: 10.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.send-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 278px;
  left: 556px;
  width: 39px;
  height: 39px;
}
.comment-section {
  position: absolute;
  top: 405px;
  left: 0;
  width: 613px;
  height: 338px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.comment-popup {
  width: 613px;
  position: relative;
  height: 743px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-kadwa);
}
.comment-popup-2-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-snow);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 613px;
  height: 743px;
}
.comment-popup-2-item {
  position: absolute;
  top: 61px;
  left: 57px;
  border-radius: var(--br-xl);
  width: 498px;
  height: 262px;
  object-fit: cover;
}
.supervised-learning-algorithms7 {
  position: absolute;
  top: 25px;
  left: 197px;
  display: flex;
  align-items: center;
  width: 220px;
}
.john-doe13 {
  position: absolute;
  top: 30px;
  left: 63px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 102px;
  height: 14px;
}
.comment-popup-2-inner {
  position: absolute;
  top: 26px;
  left: 31px;
  border-radius: 50%;
  width: 26px;
  height: 27px;
  object-fit: cover;
}
.share-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 22px;
  object-fit: cover;
}
.div37 {
  top: 1px;
  left: 27px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 22px;
  height: 11px;
}
.div37,
.div38,
.share6 {
  position: absolute;
}
.share6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 345px;
  left: 396px;
  width: 49px;
  height: 22px;
}
.div38 {
  top: 3px;
  left: 26px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 18px;
  height: 16px;
}
.icon-thumbs-down1 {
  position: absolute;
  height: 100%;
  width: 52.73%;
  top: 0;
  right: 47.27%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dislike5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 343px;
  left: 285px;
  width: 44px;
  height: 23.2px;
}
.fire-icon8 {
  top: 0;
  left: 0;
  width: 19px;
  height: 25px;
  object-fit: cover;
}
.div39,
.fire-icon8,
.like5 {
  position: absolute;
}
.div39 {
  top: 6px;
  left: 21px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 22px;
  height: 14px;
}
.like5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 340px;
  left: 175px;
  width: 43px;
  height: 25px;
}
.comment-section-item {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background: linear-gradient(180deg, #d6ebfa, #ebf4fa);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 613px;
  height: 333px;
}
.comments4 {
  position: absolute;
  top: 0;
  left: 235px;
  display: inline-block;
  width: 144px;
  height: 50px;
}
.comment-read-section1,
.comment1-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 600px;
  height: 228px;
}
.comment1-inner {
  width: 588px;
  height: 68px;
}
.john-doe14 {
  position: absolute;
  top: 6px;
  left: 38px;
  display: flex;
  align-items: center;
  width: 169px;
  height: 14px;
}
.comment1-child1 {
  position: absolute;
  top: 3px;
  left: 6px;
  border-radius: 50%;
  width: 26px;
  height: 27px;
  object-fit: cover;
}
.div40 {
  position: absolute;
  top: 5px;
  left: 511px;
  display: flex;
  align-items: center;
  width: 77px;
  height: 15px;
}
.comments-description1 {
  position: absolute;
  top: 23px;
  left: 38px;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 519px;
}
.cmt-read,
.comment11 {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 588px;
  height: 68px;
}
.cmt-read {
  top: 29px;
  width: 600px;
  height: 228px;
  text-align: left;
  font-size: var(--font-size-3xs);
}
.comment-section1 {
  position: absolute;
  top: 405px;
  left: 0;
  width: 613px;
  height: 338px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.comment-write1,
.send1 {
  position: absolute;
  border-radius: var(--br-3xs);
}
.comment-write1 {
  border: 1px solid var(--color-black);
  outline: 0;
  background-color: var(--color-white);
  top: 666px;
  left: 14px;
  box-sizing: border-box;
  width: 533px;
  height: 68px;
}
.send1 {
  top: 0;
  left: 0;
  background-color: var(--color-cornflowerblue);
  width: 39px;
  height: 39px;
}
.icon-send1 {
  position: absolute;
  height: 82.05%;
  width: 82.05%;
  top: 7.69%;
  right: 7.69%;
  bottom: 10.26%;
  left: 10.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.send-btn1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 681px;
  left: 559px;
  width: 39px;
  height: 39px;
}
.comment-popup-2 {
  width: 613px;
  position: relative;
  height: 743px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-kadwa);
}
.comment-popup-3-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-snow);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 613px;
  height: 743px;
}
.john-doe15 {
  position: absolute;
  top: 35px;
  left: 108px;
  display: flex;
  align-items: center;
  width: 193px;
  height: 29px;
}
.comment-popup-3-item {
  position: absolute;
  top: 39px;
  left: 31px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.div41 {
  position: absolute;
  top: 64px;
  left: 108px;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  width: 113px;
  height: 25px;
}
.share-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 22px;
  object-fit: cover;
}
.div42 {
  top: 1px;
  left: 27px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 22px;
  height: 11px;
}
.div42,
.div43,
.share7 {
  position: absolute;
}
.share7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 345px;
  left: 396px;
  width: 49px;
  height: 22px;
}
.div43 {
  top: 3px;
  left: 26px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 18px;
  height: 16px;
}
.icon-thumbs-down2 {
  position: absolute;
  height: 100%;
  width: 52.73%;
  top: 0;
  right: 47.27%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dislike6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 343px;
  left: 285px;
  width: 44px;
  height: 23.2px;
}
.fire-icon9 {
  top: 0;
  left: 0;
  width: 19px;
  height: 25px;
  object-fit: cover;
}
.div44,
.fire-icon9,
.like6 {
  position: absolute;
}
.div44 {
  top: 6px;
  left: 21px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 22px;
  height: 14px;
}
.like6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 340px;
  left: 175px;
  width: 43px;
  height: 25px;
}
.comment-section-inner {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background: linear-gradient(180deg, #d6ebfa, #ebf4fa);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 613px;
  height: 333px;
}
.comments5 {
  position: absolute;
  top: 0;
  left: 235px;
  display: inline-block;
  width: 144px;
  height: 50px;
}
.comment-read-section2,
.comment1-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 600px;
  height: 228px;
}
.comment1-child2 {
  width: 588px;
  height: 68px;
}
.john-doe16 {
  position: absolute;
  top: 6px;
  left: 38px;
  display: flex;
  align-items: center;
  width: 169px;
  height: 14px;
}
.comment1-child3 {
  position: absolute;
  top: 3px;
  left: 6px;
  border-radius: 50%;
  width: 26px;
  height: 27px;
  object-fit: cover;
}
.div45 {
  position: absolute;
  top: 5px;
  left: 511px;
  display: flex;
  align-items: center;
  width: 77px;
  height: 15px;
}
.comments-description2 {
  position: absolute;
  top: 23px;
  left: 38px;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 519px;
}
.comment-read1,
.comment12 {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 588px;
  height: 68px;
}
.comment-read1 {
  top: 29px;
  left: 7px;
  width: 600px;
  height: 228px;
  text-align: left;
  font-size: var(--font-size-3xs);
}
.comment-section2 {
  position: absolute;
  top: 405px;
  left: 0;
  width: 613px;
  height: 338px;
  text-align: center;
}
.text-child {
  top: 0;
  left: 0;
  background-color: rgba(206, 207, 243, 0.22);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 217px;
}
.post-description,
.text,
.text-child {
  position: absolute;
  width: 529px;
}
.post-description {
  top: 0;
  left: 0;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}
.text {
  top: 110px;
  left: 39px;
  height: 217px;
  text-align: justify;
  font-size: var(--font-size-mini);
}
.comment-write2,
.send2 {
  position: absolute;
  border-radius: var(--br-3xs);
}
.comment-write2 {
  border: 1px solid var(--color-black);
  outline: 0;
  background-color: var(--color-white);
  top: 666px;
  left: 13px;
  box-sizing: border-box;
  width: 533px;
  height: 68px;
}
.send2 {
  top: 0;
  left: 0;
  background-color: var(--color-cornflowerblue);
  width: 39px;
  height: 39px;
}
.icon-send2 {
  position: absolute;
  height: 82.05%;
  width: 82.05%;
  top: 7.69%;
  right: 7.69%;
  bottom: 10.26%;
  left: 10.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.send-btn2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 681px;
  left: 558px;
  width: 39px;
  height: 39px;
}
.comment-popup-3 {
  width: 613px;
  position: relative;
  height: 743px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-kadwa);
}
