@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.vid-popup-child,
.vid-popup-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightblue);
  width: 623px;
  height: 623px;
}
.vid-popup-item {
  top: 18px;
  left: 17px;
  background-color: var(--color-snow);
  width: 584px;
  height: 575px;
}
.logo-icon8 {
  position: absolute;
  top: 45px;
  left: 280px;
  border-radius: var(--br-13xl-5);
  width: 69px;
  height: 65px;
  object-fit: cover;
  cursor: pointer;
}
.logo-icon8:hover {
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.title3,
.username1 {
  position: absolute;
  width: 160px;
  height: 29px;
}
.username1 {
  top: 0;
  left: 0;
  display: inline-block;
}
.username1:hover {
  cursor: default;
}
.title3 {
  top: 146px;
  left: 312px;
}
.submit-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-lightblue);
  width: 107px;
  height: 31px;
}
.post6,
.submit-inner,
.submit4 {
  position: absolute;
}
.post6 {
  top: 1px;
  left: 32px;
  font-size: var(--font-size-base);
  font-family: var(--font-kadwa);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 44px;
  height: 29px;
}
.submit4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 469px;
  left: 265px;
  width: 107px;
  height: 31px;
}
.submit4:hover {
  cursor: pointer;
  animation: 0.2s ease 0s 1 normal forwards shadow-drop-bottom;
  opacity: 1;
}
.upload-video,
.upload2 {
  position: absolute;
  top: 5px;
  left: 132px;
  width: 144px;
  height: 31px;
}
.upload2:hover {
  cursor: pointer;
}
.upload-video {
  top: 0;
  left: -41px;
  display: inline-block;
  width: 146px;
  height: 29px;
}
.upload-container {
  position: absolute;
  top: 378px;
  left: 193px;
  width: 266px;
  height: 36px;
}
.rectangle-textarea {
  border: 0;
  background-color: var(--color-whitesmoke-100);
  outline: 0;
  position: absolute;
  top: 29px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 427px;
  height: 92px;
}
.description5 {
  position: absolute;
  top: 222px;
  left: 100px;
  width: 427px;
  height: 121px;
}
.profile-pic-icon1 {
  position: absolute;
  top: 131px;
  left: 237px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.vid-popup {
  width: 622px;
  position: relative;
  height: 623px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-kadwa);
}
